---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BxMO</title>
  </head>
  <body>
    <h1>Benelux Mathematical Olympiad</h1>
    <p>Site under construction.</p>
  </body>
</html>
